@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 
    [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 
    [&>div]:bg-transparent [&>div]:rotate-[360deg] 
  }
}

@layer base {
  html {
    font-family: Open Sans, sans-serif;
  }

  .font-outline-1 {
    -webkit-text-stroke: 1px rgba(46, 46, 46, 0.384);
  }

  .font-outline-2 {
    -webkit-text-stroke: 1px rgba(52, 211, 153, 0.801);
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px rgba(60, 60, 60, 0.501);
  }

  .wave-group {
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
  }

  .without-fill {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(113 113 122 / var(--tw-text-opacity));
  }
}
